*.a
*.def
*.lib
*.exp
*.exe
*.dll
*.obj
golangs/thirdparty/*
golangs/include/*
golangs/goumdf
golangs/log*.txt
golangs/goumdf.h
golangs/_obj
golangs/export.txt
golangs/script_default.ld
golangs/helper.o
.vs
obj
x64
*.cat
*.dll